*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 1366px;
    height: 150px;
    background-color: rgb(44, 41, 41);
    margin: 0 auto;
    text-align: center;
}
header img{
    height: 95%;
}
nav{
   background-color: rgb(13, 56, 112);
   width: 1366px;
   height: 50px;
   margin: 0 auto;

   display: flex;
   justify-content: space-evenly;
   align-items: center;
   overflow: hidden;
}
nav a{
    color: rgb(64, 164, 210);
    text-decoration: none;
    padding: 15px 10px;
    transition: .5s;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
}
nav a:hover{
    background-color: #5757d4;
    transform: scale(1.2);
}
main{
width: 1366px;
height: 2000px;
/*background-color: #99bbe9;*/
margin: 0 auto;
background-image: url(Img/FONDO.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.Personaje{
    width: 1300px;
    height: 400px;
    margin-left: 33px;
    margin-top: 80px;
    display: inline-block;
    
}
.foto{
    width: 400px;
    height: 400px;
    /*background-color: aquamarine;*/
    float: left;
    margin-left: 33px;
    text-align: center;
    border: 6px ridge rgb(91, 78, 173);
}
.foto img{
    width:100% ;
    height: 100%;
}
.info{
    float: left;
    margin-left: 33px;
    width:800px ;
    height: 400px;
    padding: 30px;
    background-color: #9f9fdbce;
}
.info h3{
    margin: 20px 0;
    font-size: 1.8rem;
    font-family: "Rubik", sans-serif;
}
.info a{
    color: rgb(64, 20, 105);
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    padding: 5px 5px;
    transition: .5s;
}
footer{
    width: 1366px;
    height: 200px;
    background-color:  rgb(4, 11, 20);
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
footer{
    color: rgb(168, 168, 168);
}
footer a{
    padding: 15px 10px;
    color:rgb(255, 208, 239);
    text-decoration: none;
    transition: .5s;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
}
footer a:hover{
    background-color: rgb(55, 69, 197);
    transform: scale(1.2);
}
.texto{
    width: 200px;
}
footer p{
    color: rgb(255, 231, 247);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 